
<%- include(`./partials/head.ejs`)%> 

<body>
    <div class="container">
        <div class= "container-ani-img">
            <img src="img/puzzle-color.png" alt="puzzle">
            <img src="img/puzzle-color1.png" alt="puzzle">
            <img src="img/puzzle-color.png" alt="puzzle">
            <img src="img/puzzle-color1.png" alt="puzzle">
        </div>
    </div>

    <button onclick="topFunction()" id="button-up" title="Go to top"><svg viewBox="0 0 24 24"><path d="M12 8l5 5h-3v4h-4v-4H7l5-5m7-5a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4.18C9.6 1.84 10.7 1 12 1c1.3 0 2.4.84 2.82 2H19m-7 0a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1M7 7V5H5v14h14V5h-2v2H7z" fill="currentColor"/></svg></button>


    <header>
        <nav id="nav">
            <div class="container navbar">
                <a href="#" class="container-logo">
                    <svg  style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                    viewBox="0 0 23.544 15.5172">
    
                    <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"/>
                    <path id="logo-mecha" fill="#4E3223" d="M5.88657 10.3274c-0.063172,-0.316053 0.0633649,-0.323383 0.412885,-0.730384l0.15875 -0.188262 0.122486 0.387809 -0.512995 0.405651c-0.0519843,0.0414717 -0.114192,0.107248 -0.181125,0.125187zm0.204176 0.163283l-0.244972 0c-0.12104,-0.103004 -0.734917,-0.559 -0.734917,-0.632878 0,-0.314028 0.174471,-0.564787 0.174471,-0.612431 0,-0.0674156 -0.174471,-0.281043 -0.174471,-0.551188l0 -1.73516 0.0724308 -0.315474c0.0283551,-0.0717557 0.108212,-0.195978 0.100979,-0.249313 -0.00983748,-0.0725273 -0.17341,-0.253942 -0.17341,-0.558036l0 -1.69436c0.0100304,-0.102136 0.0650045,-0.351931 0.117085,-0.454839 0.0272942,-0.0541061 0.056903,-0.0686694 0.0576746,-0.116507 0.00115735,-0.0771567 -0.17476,-0.255292 -0.17476,-0.571827l0 -2.04147c0,-0.0379997 0.01601,-0.0545883 0.0416646,-0.0612431l1.6527 0 0 1.40859c0,0.665959 0.0780247,0.771085 -0.183729,1.26566 0.141679,0.24015 0.204176,0.397839 0.204176,0.714567 0,0.465158 0.0386748,1.38786 -0.0583497,1.81974 -0.0287409,0.0924916 -0.12538,0.258282 -0.12538,0.323672l0.0761922 0.14843c0.025751,0.0602787 0.038289,0.0749384 0.0589284,0.145247 0.0731059,0.248734 0.0624969,1.64209 0.0486087,1.82948 -0.0115735,0.156532 -0.0510199,0.410474 -0.122293,0.551381 -0.132034,0.260982 0.00183247,0.119111 0.0901769,0.542219 0.0507305,0.242658 0.0433042,0.239379 -0.108019,0.358489 -0.0849688,0.066837 -0.561025,0.436803 -0.594782,0.487244zm-0.591985 -1.40859l-0.040893 0c-0.0253653,-0.10908 -0.0986641,-0.173603 -0.122486,-0.469498l0 -0.653324c0,-0.211506 0.659786,-0.859525 0.832135,-1.04596l0.290688 -0.34219 0.122486 0.387905 0 0.79616c0,0.192506 -1.03747,1.16044 -1.08193,1.3269zm-0.040893 -2.83763c-0.0253653,-0.10908 -0.0986641,-0.173506 -0.122486,-0.469498l0 -0.694121c0,-0.0643294 0.203115,-0.313931 0.244876,-0.367555 0.0272942,-0.0351063 0.035685,-0.0422433 0.0658725,-0.0769638 0.0348169,-0.0399286 0.037421,-0.051695 0.0722379,-0.0911413l0.739836 -0.811592 0.122486 0.387809 0 0.755364c0,0.211602 -0.856246,1.04557 -1.04075,1.28639 -0.0360707,0.0469691 -0.0309591,0.047162 -0.0820754,0.0813038zm0 -2.83753c-0.0253653,-0.10908 -0.0986641,-0.173603 -0.122486,-0.469498l0 -1.81694 1.24531 0 0 0.939093c0,0.166369 -0.806094,0.96089 -0.971403,1.17211 -0.0442686,0.0567102 -0.101365,0.141775 -0.15142,0.175242z"/>
                    <path id="logo-chip" fill="#4E3223" d="M3.43685 8.42888c0.0362636,0.0541061 0.352606,0.307855 0.440275,0.376332l0.764237 0.623908c-0.00636543,-0.076578 -0.291556,-0.666923 -0.352992,-0.810627l-0.361575 -0.802044c-0.053431,0.039157 -0.470559,0.540097 -0.489945,0.612431z"/>
                    <path id="logo-chip" fill="#4E3223" d="M7.27481 9.42912c0.109466,-0.0732988 0.203115,-0.164922 0.306023,-0.245069l0.91884 -0.755171c-0.0851617,-0.127212 -0.394849,-0.479046 -0.510391,-0.612431l-0.355692 0.807927c-0.042822,0.103776 -0.341901,0.732217 -0.358779,0.804744z"/>
                    <path id="logo-chip" fill="#4E3223" d="M4.3147 8.08178c0.0112842,0.135024 0.260597,0.621593 0.347012,0.77581l0.040893 -0.939093c-0.0629791,0.0332738 -0.117278,0.0522736 -0.18344,0.081979 -0.0764816,0.0344312 -0.108598,0.0590249 -0.204465,0.0813038z"/>
                    <path id="logo-chip" fill="#4E3223" d="M7.27481 8.85759c0.0753242,-0.0867048 0.287891,-0.673867 0.326566,-0.77581 -0.0619182,-0.0143704 -0.311134,-0.129527 -0.387809,-0.163283 0,0.10773 0.00868013,0.149877 0.0173603,0.227516 0.00896946,0.0797607 -0.00250759,0.160968 0.00405073,0.240922 0.0108984,0.131938 0.0288373,0.338718 0.0398321,0.470656z"/>
                    <path id="logo-cut" fill="#dd9932" d="M13.5414 12.2712c-0.571538,0 -1.06013,-0.122486 -1.46569,-0.366108 -0.405555,-0.242272 -0.714471,-0.582436 -0.929449,-1.02069 -0.213724,-0.436803 -0.319814,-0.944398 -0.319814,-1.52423l0 -0.148334c0,-0.566137 0.10609,-1.06688 0.318464,-1.50513 0.212277,-0.436803 0.517143,-0.781115 0.913149,-1.03158 0.396007,-0.251724 0.868205,-0.37691 1.41939,-0.37691 0.385108,0 0.743019,0.0571924 1.07238,0.171481 0.329363,0.114288 0.616482,0.274871 0.861454,0.481747l0 1.3405 -0.766166 0 -0.103486 -0.89685c-0.0870906,-0.0639436 -0.18508,-0.118435 -0.29117,-0.164633 -0.106187,-0.0449438 -0.221825,-0.0789891 -0.348362,-0.103486 -0.126633,-0.023147 -0.264069,-0.0353956 -0.412402,-0.0353956 -0.348362,0 -0.647827,0.0870906 -0.8955,0.262718 -0.249023,0.175531 -0.438153,0.421854 -0.568838,0.737618 -0.129237,0.317017 -0.194628,0.687177 -0.194628,1.11318l0 0.155085c0,0.44095 0.069441,0.820658 0.206876,1.13777 0.138786,0.318464 0.33756,0.562086 0.596132,0.73212 0.259922,0.17013 0.570188,0.254521 0.930799,0.254521 0.175531,0 0.349809,-0.0204465 0.521193,-0.0612431 0.17013,-0.0407966 0.321261,-0.0952885 0.451849,-0.161933l0.107537 -0.81246 0.757968 0 0 1.33095c-0.223176,0.146983 -0.496696,0.265419 -0.819211,0.35521 -0.323865,0.0897911 -0.670974,0.136085 -1.04248,0.136085zm4.37257 0c-0.461397,0 -0.823358,-0.146983 -1.08193,-0.44095 -0.258571,-0.293967 -0.389255,-0.749866 -0.389255,-1.3704l0 -1.84945 -0.485798 -0.119786 0 -0.617832 0.485798 0 1.00574 0 0 2.59516c0,0.372956 0.0585426,0.634228 0.176882,0.783912 0.118435,0.149684 0.300815,0.225876 0.548488,0.225876 0.217775,0 0.402854,-0.0434971 0.556589,-0.130588 0.152384,-0.0857404 0.27352,-0.209577 0.364758,-0.368809l0 -2.36794 -0.54299 -0.119786 0 -0.617832 0.54299 0 1.00429 0 0 3.58046 0.510391 0.119786 0 0.613781 -1.39904 0 -0.0679943 -0.586584c-0.136085,0.216424 -0.307566,0.381058 -0.517143,0.496793 -0.208227,0.115639 -0.445098,0.174181 -0.71177,0.174181zm4.79722 -0.0081979c-0.367459,0 -0.653228,-0.10339 -0.857404,-0.308916 -0.20543,-0.206876 -0.307566,-0.534792 -0.307566,-0.986641l0 -2.37749 -0.630081 0 0 -0.717171 0.630081 0 0 -1.04788 1.00024 0 0 1.04788 0.853353 0 0 0.717171 -0.853353 0 0 2.37749c0,0.182379 0.0381926,0.315764 0.114385,0.400057 0.0761922,0.0830399 0.178232,0.125283 0.308916,0.125283 0.074842,0 0.157882,-0.00684765 0.249023,-0.0190963 0.092588,-0.0135989 0.16608,-0.0271977 0.221825,-0.0407966l0.10339 0.706273c-0.116989,0.0340454 -0.250373,0.0639436 -0.401408,0.0870906 -0.149684,0.0244972 -0.293967,0.0367459 -0.431402,0.0367459z"/>
                    <path id="logo-u" fill="#4E3223" d="M5.94 12.2712c-0.901672,0 -1.70401,-0.167334 -2.4015,-0.496214 -0.697496,-0.32888 -1.24184,-0.802429 -1.63032,-1.42335 -0.391281,-0.620918 -0.586873,-1.37223 -0.586873,-2.25124l0 -6.56372 -1.32131 -0.249505 0 -1.28717 4.72652 0 0 1.28717 -1.31841 0.249505 0 6.56372c0,0.558614 0.104837,1.02927 0.314703,1.40637 0.20977,0.3799 0.507498,0.663451 0.887398,0.853449 0.382794,0.187105 0.827988,0.280657 1.33828,0.280657 0.527366,0 0.981047,-0.0935525 1.36664,-0.280657 0.38559,-0.189998 0.683319,-0.470752 0.895982,-0.847759 0.21546,-0.377103 0.320393,-0.847759 0.320393,-1.41206l0 -6.56372 -1.32131 -0.249505 0 -1.28717 4.72642 0 0 1.28717 -1.31272 0.249505 0 6.56372c0,0.890292 -0.192795,1.64739 -0.584076,2.26831 -0.391281,0.618025 -0.938418,1.09157 -1.6416,1.41476 -0.703187,0.323286 -1.52259,0.487727 -2.45821,0.487727z"/>
                    <path id="logo-laser-mill" fill="#4E3223" d="M2.27844 15.482l0 -0.255774 0.264165 -0.0498625 0 -1.80595 -0.264165 -0.0498625 0 -0.25751 0.264165 0 0.418479 0 0.284129 0 0 0.25751 -0.284129 0.0498625 0 1.79119 0.755846 0 0.0283551 -0.365723 0.320972 0 0 0.686116 -1.78782 0zm2.59642 0.0352027c-0.182668,0 -0.324926,-0.0470656 -0.426966,-0.141775 -0.101557,-0.0941311 -0.152577,-0.223465 -0.152577,-0.388484 0,-0.112745 0.0306698,-0.211988 0.0929738,-0.297053 0.0618218,-0.0856439 0.152577,-0.152577 0.27217,-0.200222 0.119689,-0.0481265 0.26484,-0.0725273 0.435453,-0.0725273l0.273906 0 0 -0.15142c0,-0.0952885 -0.0283551,-0.170613 -0.0856439,-0.227323 -0.0567102,-0.0567102 -0.139461,-0.0844866 -0.248348,-0.0844866 -0.0618218,0 -0.116796,0.00732988 -0.16444,0.0220861 -0.0476442,0.0153349 -0.0901769,0.0362636 -0.127598,0.06404l-0.0384819 0.242754 -0.307373 0 -0.0033756 -0.443458c0.0890195,-0.0578675 0.187684,-0.103776 0.295992,-0.137242 0.108309,-0.0339489 0.229059,-0.0510199 0.362347,-0.0510199 0.227902,0 0.407677,0.0539132 0.53865,0.160486 0.131552,0.107151 0.19675,0.260307 0.19675,0.459275l0 0.792688c0,0.0244008 0.000578675,0.0482229 0.00115735,0.0714664 0.000578675,0.0232434 0.00163958,0.0459082 0.00395428,0.0679943l0.183151 0.0232434 0 0.255774 -0.546655 0c-0.0112842,-0.0385783 -0.0215074,-0.076578 -0.031152,-0.112842 -0.00906591,-0.0368423 -0.0159136,-0.0731059 -0.0204465,-0.110045 -0.0600858,0.0754206 -0.132131,0.137242 -0.2171,0.185465 -0.0844866,0.0482229 -0.179775,0.0726237 -0.286348,0.0726237zm0.0946134 -0.324347c0.0844866,0 0.162801,-0.0192892 0.235907,-0.0590249 0.0732024,-0.0390606 0.128177,-0.0890195 0.16444,-0.148527l0 -0.300525 -0.278921 0c-0.12538,0 -0.219511,0.0289338 -0.283551,0.0872835 -0.0635578,0.0578675 -0.0952885,0.125862 -0.0952885,0.203018 0,0.0697303 0.0221825,0.123644 0.0663547,0.161643 0.0442686,0.037421 0.108309,0.0561315 0.191059,0.0561315zm1.96537 0.324347c-0.128177,0 -0.248348,-0.012538 -0.35955,-0.0375174 -0.111106,-0.024883 -0.22279,-0.0617253 -0.334474,-0.110527l-0.00511163 -0.475189 0.300525 0 0.0634614 0.25915c0.0476442,0.0210252 0.0963494,0.037421 0.146887,0.0488016 0.0504412,0.0118628 0.106573,0.0175531 0.168394,0.0175531 0.119593,0 0.204079,-0.0210252 0.25346,-0.0629791 0.0492838,-0.0419539 0.0736846,-0.0941311 0.0736846,-0.156435 0,-0.0596035 -0.0254617,-0.110623 -0.0770602,-0.153735 -0.0515985,-0.0424362 -0.14978,-0.0793749 -0.294931,-0.109948 -0.214881,-0.0464869 -0.373053,-0.114578 -0.474031,-0.203597 -0.101461,-0.0895982 -0.151902,-0.205237 -0.151902,-0.348169 0,-0.0986641 0.0260404,-0.187684 0.0787963,-0.267541 0.0527559,-0.0794714 0.129816,-0.143511 0.232434,-0.191734 0.102715,-0.0481265 0.228577,-0.0725273 0.377682,-0.0725273 0.136664,0 0.257414,0.0141775 0.363504,0.0425326 0.105415,0.0283551 0.195592,0.0657761 0.269855,0.112263l0.00964458 0.45696 -0.29715 0 -0.0515985 -0.237546c-0.0345276,-0.0244008 -0.0742633,-0.04369 -0.119593,-0.0567102 -0.045426,-0.0130202 -0.0975067,-0.0198678 -0.155953,-0.0198678 -0.0918164,0 -0.16444,0.0198678 -0.217775,0.0606644 -0.0532381,0.0403144 -0.0799536,0.0907555 -0.0799536,0.151999 0,0.0352027 0.00858368,0.0675121 0.0261368,0.0964458 0.0169745,0.0288373 0.0504412,0.0549741 0.0992428,0.0787963 0.0492838,0.0238221 0.121908,0.0464869 0.2171,0.068573 0.233688,0.0544919 0.400925,0.125283 0.501808,0.212663 0.1004,0.0878622 0.150841,0.203501 0.150841,0.347591 0,0.160486 -0.0583497,0.291942 -0.175724,0.395139 -0.117375,0.103293 -0.29715,0.154892 -0.53865,0.154892zm1.79968 0c-0.169455,0 -0.3175,-0.0379997 -0.442783,-0.113999 -0.125862,-0.0759993 -0.223465,-0.180932 -0.292617,-0.314703 -0.0691517,-0.134446 -0.103776,-0.287505 -0.103776,-0.460432l0 -0.0697303c0,-0.175242 0.0340454,-0.330616 0.10204,-0.467762 0.0680908,-0.136664 0.162222,-0.243912 0.281815,-0.322129 0.119689,-0.0782176 0.255774,-0.117375 0.408834,-0.117375 0.162801,0 0.298886,0.032888 0.409413,0.0980854 0.110045,0.0657761 0.193374,0.158268 0.250084,0.278439 0.0561315,0.120172 0.0844866,0.264262 0.0844866,0.432656l0 0.239282 -1.10286 0 -0.0033756 0.00848723c0.00453295,0.0941311 0.0237257,0.17746 0.0589284,0.250663 0.0346241,0.0731059 0.0844866,0.130973 0.149684,0.172927 0.0646187,0.0419539 0.143415,0.0628827 0.236485,0.0628827 0.0975067,0 0.185948,-0.0130202 0.265901,-0.0396392 0.0793749,-0.0267155 0.15306,-0.0641365 0.220572,-0.112842l0.131552 0.262526c-0.0708877,0.0595071 -0.161065,0.109948 -0.271013,0.150841 -0.109466,0.0407966 -0.237643,0.0618218 -0.383372,0.0618218zm-0.399189 -1.11144l0.696339 0 0 -0.0435935c0,-0.078314 -0.0118628,-0.147466 -0.035685,-0.206394 -0.0238221,-0.0596035 -0.0606644,-0.105512 -0.111202,-0.138978 -0.0504412,-0.0334667 -0.114481,-0.0498625 -0.192217,-0.0498625 -0.0674156,0 -0.12644,0.0187105 -0.17746,0.0567102 -0.0510199,0.037421 -0.0918164,0.0884408 -0.121908,0.153638 -0.0305733,0.0646187 -0.0515985,0.137821 -0.0624005,0.219993l0.00453295 0.00848723zm1.35236 1.07624l0 -0.255774 0.249505 -0.0498625 0 -1.18445 -0.262526 -0.0499589 0 -0.257414 0.648116 0 0.0215074 0.226262 0.0033756 0.0362636c0.0476442,-0.0952885 0.10609,-0.168394 0.175242,-0.219414 0.0691517,-0.0510199 0.150263,-0.076578 0.243236,-0.076578 0.0312485,0 0.0641365,0.00289338 0.0986641,0.00848723 0.0352027,0.0056903 0.0635578,0.0119593 0.0856439,0.0181318l-0.0482229 0.387327 -0.234171 -0.0130202c-0.076578,-0.00453295 -0.139461,0.0102233 -0.188841,0.0447509 -0.0487052,0.0340454 -0.0900804,0.0816896 -0.123547,0.142933l0 0.936682 0.249505 0.0498625 0 0.255774 -0.917489 0zm3.04209 0.0352027c-0.159907,0 -0.298886,-0.0295124 -0.417321,-0.0873799 -0.118532,-0.0583497 -0.209866,-0.138882 -0.275064,-0.242079 -0.0646187,-0.102618 -0.0969281,-0.221729 -0.0969281,-0.356657 0,-0.128755 0.0351063,-0.240439 0.105415,-0.335728 0.070309,-0.095192 0.175821,-0.192217 0.316439,-0.290881 0.0056903,-0.0033756 0.0108019,-0.00675121 0.0153349,-0.0102233 0.00395428,-0.00279693 0.00848723,-0.00559386 0.0130202,-0.00790856 -0.0799536,-0.106573 -0.139461,-0.201861 -0.178618,-0.286926 -0.039157,-0.0844866 -0.0589284,-0.171191 -0.0589284,-0.259632 0,-0.12644 0.0260404,-0.235328 0.0782176,-0.326662 0.0515985,-0.0912378 0.125283,-0.161547 0.220572,-0.210927 0.0952885,-0.0492838 0.208612,-0.0736846 0.339104,-0.0736846 0.117375,0 0.220572,0.0244008 0.309012,0.0731059 0.0884408,0.0488016 0.158171,0.11342 0.208612,0.19511 0.0499589,0.0815932 0.0754206,0.172349 0.0754206,0.273231 0,0.108309 -0.0277764,0.205333 -0.0839079,0.290881 -0.0561315,0.0850652 -0.135506,0.165019 -0.238125,0.2388l-0.16444 0.117857 0.502965 0.596518c0.0407966,-0.068573 0.0736846,-0.143415 0.0975067,-0.225105 0.0238221,-0.0810145 0.035685,-0.167816 0.035685,-0.259632l0.332256 0c0,0.149105 -0.0203501,0.287409 -0.0600858,0.414428 -0.0396392,0.12644 -0.0992428,0.239861 -0.17746,0.339682l0.32888 0.390123 -0.0033756 0.00848723 -0.471813 0 -0.133192 -0.157593c-0.0919129,0.06404 -0.18942,0.112263 -0.292038,0.144572 -0.103197,0.0317307 -0.212084,0.0482229 -0.327144,0.0482229zm0.0146598 -0.322708c0.0675121,0 0.135024,-0.0102233 0.201861,-0.0305733 0.0669334,-0.0204465 0.130491,-0.0499589 0.189998,-0.0890195l-0.541543 -0.637893 -0.0464869 0.0317307c-0.0742633,0.0629791 -0.124126,0.123644 -0.150263,0.181993 -0.0260404,0.0578675 -0.0390606,0.112842 -0.0390606,0.165019 0,0.110045 0.0345276,0.200125 0.103197,0.271591 0.068573,0.0714664 0.162704,0.107151 0.282297,0.107151zm-0.0447509 -1.21117l0.179196 -0.12075c0.0634614,-0.0413753 0.105415,-0.0839079 0.127019,-0.129237 0.0215074,-0.0448473 0.032888,-0.0941311 0.032888,-0.148623 0,-0.0606644 -0.0232434,-0.114481 -0.0691517,-0.161547 -0.0460047,-0.0470656 -0.10609,-0.0708877 -0.180354,-0.0708877 -0.0799536,0 -0.140618,0.0271977 -0.183729,0.0815932 -0.0425326,0.0539132 -0.0634614,0.121908 -0.0634614,0.20244 0,0.0521772 0.0124415,0.10609 0.0384819,0.162222 0.0261368,0.0555528 0.0657761,0.117375 0.119111,0.18479zm2.23581 1.49867l0 -0.255774 0.262526 -0.0498625 0 -1.80595 -0.262526 -0.0498625 0 -0.25751 0.262526 0 0.599314 0 0.709359 1.74933 0.0101268 0 0.687852 -1.74933 0.872063 0 0 0.25751 -0.264262 0.0498625 0 1.80595 0.264262 0.0498625 0 0.255774 -0.945169 0 0 -0.255774 0.277185 -0.0498625 0 -0.563051 0.00347205 -1.05801 -0.00848723 -0.00173603 -0.749095 1.87346 -0.303901 0 -0.770602 -1.86382 -0.00848723 0.00173603 0.0215074 1.02001 0 0.591406 0.287505 0.0498625 0 0.255774 -0.945169 0zm3.3539 0l0 -0.255774 0.248927 -0.0498625 0 -1.18445 -0.264262 -0.0499589 0 -0.257414 0.683222 0 0 1.49182 0.247287 0.0498625 0 0.255774 -0.915175 0zm0.232434 -2.20456l0 -0.386748 0.435453 0 0 0.386748 -0.435453 0zm0.84882 2.20456l0 -0.255774 0.251145 -0.0498625 0 -1.9783 -0.265901 -0.0499589 0 -0.257414 0.68274 0 0 2.28567 0.250566 0.0498625 0 0.255774 -0.91855 0zm1.08473 0l0 -0.255774 0.251145 -0.0498625 0 -1.9783 -0.265901 -0.0499589 0 -0.257414 0.68274 0 0 2.28567 0.250566 0.0498625 0 0.255774 -0.91855 0z"/>
                    </g>
                    </svg>
    
                </a>
                <div class="menu-container left">
                    <% items.forEach((item) => { %>
                        <% if(item.class === "menu-item" ){ %> 
                            <div class="menu-item-container">
                                <a class="<%= item.class %>" href= "<%= item.href %>"> <%= item.content %></a>
                            </div>
                        <% } %> 
                    <%})%> 
                </div>
                <div class="menu-container right">
                    <% items.forEach((item) => { %>
                        <% if(item.class === "cta" ){ %> 
                            <div class="menu-item-container">
                                <a class= <%= item.class  %> href= <%= item.href  %>> <%= item.content  %></a>
                            </div>
                        <% } %> 
                    <%})%> 
                </div>
            </div>
        </nav>

        <div class="banner">
            <div class="container">
                <div class="background-h1">
                    <h1 class="text-h1">Tus <span>ideas</span> en madera <br> se convierten en <br>
                        <span>arte</span> en nuestras manos</h1>
                </div>
            </div>
        </div>
    </header>


    <main>
        <section id="nosotros" class="container">
            <div class="nosotros-container">
                <div class="row-nosotros-container">
                    <div class="title">
                        <h2 class="nosotros">Nosotros</h2>
                    </div>
                    <div class="col-8 image-nosotros-container">
                        <div class="base-us-svg">
                            <svg class="svg-desktop" viewBox="0 0 637 601" fill="none"><circle class="pic-circle-frame" cx="303.213" cy="321.261" r="148.998"  stroke-width="8"/><path class="triangle" fill-rule="evenodd" clip-rule="evenodd" d="M0 41.415H0.109128L0.000252181 41.7163L184.551 211.94C158.055 240.687 141.871 279.084 141.871 321.262C141.871 410.369 214.106 482.604 303.213 482.604C350.075 482.604 392.271 462.626 421.747 430.722L605.871 600.552H0V41.415Z"/><path class="outer-circle" fill-rule="evenodd" clip-rule="evenodd" d="M480.642 478.205C552.722 381.189 544.13 246.705 457.576 166.76C371.022 86.8156 236.28 88.9116 145.283 168.456L139.374 162.999C233.235 80.419 373.004 77.756 463.004 160.883C553.004 244.011 561.43 383.551 486.55 483.662L480.642 478.205Z"/><circle class="circle1" cx="460.384" cy="164.091" r="39.7794"/><circle class="circle2" cx="528.259" cy="273.693" r="39.7794"/><circle class="circle3" cx="523.808" cy="409.443" r="39.7794"/></svg>

                            <svg class="svg-cel" viewBox="0 0 150 165" fill="none">
                                <circle cx="60" cy="83" r="58" stroke="#BBBBBB" stroke-width="4"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 139.649C15.0121 155.275 36.1203 165 59.5 165C105.063 165 142 128.063 142 82.5C142 36.9365 105.063 0 59.5 0C36.1203 0 15.0121 9.72521 0 25.3509V31.2925C14.3958 14.5807 35.7123 4 59.5 4C102.854 4 138 39.1456 138 82.5C138 125.854 102.854 161 59.5 161C35.7123 161 14.3958 150.419 0 133.708V139.649Z" fill="#5B2F20"/>
                                <circle cx="120" cy="28" r="10" fill="#dd9932"/>
                                <circle cx="120" cy="138" r="10" fill="#dd9932"/>
                                <circle cx="140" cy="83" r="10" fill="#dd9932"/>
                                </svg>
                        </div>
                        <div class="nos-img">
                            <img src="img/AboutUs-img.webp" alt="Hombre trabajando con CNC">
                        </div>
                    </div>

                    <div class="col-4 nos-text">

                        <% items.forEach((item) => { %>
                            <% if(item.name === "textUs" ){ %> 
                            <div class="<%= item.class %>">
                                <p><span><%= item.title %></span><br><%= item.content %></p>
                            </div>
                            <% } %> 
                        <%})%> 
                    </div>
                </div>
            </div>
        </section>

        <section id="servicios" class="container">
            <div class="servicios-container">
                <div class="title">
                    <h3>Servicios</h3>
                </div>
                <div class="row-card-container">

                    <% items.forEach((item) => { %>
                        <% if(item.section === "servicios" ){ %> 
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h4><%= item.title %></h4>
                                        <div class="svg-frame">
                                            <img src="<%= item.svgPath %>" alt="<%= item.svgAlt %>">
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <p class="card-text"><%= item.content %></p>
                                        <button class="mas-info-btn"><%= item.buttonText %></button>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                    <%})%> 
                </div>
            </div>
        </section>

        <section id="galeria" class="container">
            <div class="title">
                <h3>Galería</h3>
            </div>
            <div id="gallery-btn-container">
                <button class="btn active" data-category="all">Todas</button>
                <button class="btn" data-category="tallado">Tallado</button>
                <button class="btn" data-category="laser">Grabado Laser</button>
                <button class="btn" data-category="mueble">Muebles</button>
                <button class="btn" data-category="table">Tablas</button>
                <button class="btn" data-category="sign">Carteleria</button>
            </div>
       
            <div class="row">
                <% items.forEach((item) => { %>
                    <% if(item.section === "gallery" ){ %>
                        <div class="<%=item.class%>" data-category="<%= item.category %>">
                            <div class="content">
                                <img src="<%= item.imgPath %>" alt="<%= item.imgAlt %>">
                                <h4><%= item.title %></h4>
                                <p><%= item.content %></p>
                            </div>
                        </div>
                    <% } %> 
                <%})%> 
            </div>
        </section>

        <section id="materiales" class="container">
            <div class="materiales-container">
                <div class="title">
                    <h3>Materiales</h3>
                </div>
                <div class="row-mat-container">
                    <% items.forEach((item) => { %>
                        <% if(item.section === "materiales" ){ %>
                            <div class="col-3 mat-box">
                                <div class="img-box">
                                    <div class="front">
                                        <img src="<%= item.imgPath %>" alt="<%= item.imgAlt %>">
                                    </div>
                                    <div class="back">
                                        <p><span><%= item.content1 %></span> <%= item.content2 %></p>
                                    </div>
                                </div>
                                <h4><%= item.title %></h4>
                            </div>
                        <% } %> 
                    <%})%> 
                </div>                
            </div>
        </section>
    </main>


    <!-- El formulario se activa con el botón cotizar -->
    <!-- <section class = "form-section">
        <div class="blur"></div>
        <div class="form-container">
    
            <form id="form1">
                <h6>DATOS DE CONTACTO</h6>
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
                <input type="tel" placeholder="Teléfono de contacto">
                <input type="email" placeholder="Email de contacto">
                <div class="btn-box">
                    <button type="button" id="next1">Next</button>
                </div>
            </form>
    
            <form id="form2">
                <h6>DESCRIPCIÓN DEL TRABAJO</h6>
            
                <label for="mueble">Mueble</label>
                <input type="radio" id="mueble" value="mueble" name="trabajo">

                <label for="tallado 3D">Tallado 3D</label>
                <input type="radio" id="tallado 3D" name="trabajo">
            
                <label for="laser">Laser</label>
                <input type="radio" id="laser" name="trabajo">
            
                <div class="btn-box">
                    <button type="button" id="back1">Back</button>
                    <button type="button" id="next2">Next</button>
                </div>
            </form>
    
            <form id="form3">
                <h6>PERSONAL INFO</h6>
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="text" placeholder="Mobile No.">
    
                <div class="btn-box">
                    <button type="button" id="back2">Back</button>
                    <input type="submit" value="Enviar">
                </div>
            </form>
    
            <div class="step-row">
                <div id="progress"></div>
                <div class="step-col" id="step1"><small>Step 1</small></div>
                <div class="step-col" id="step2"><small>Step 2</small></div>
                <div class="step-col" id="step3"><small>Step 3</small></div>
    
            </div>
        </div>
    </section> -->

    <footer>
        <div id="footer" class="container">
            <hr>
            <div class="row-footer-container">
                <div class="col-5 card-front">
                        <img src="img/footer-card-front.webp" alt="Frente trajeta de presentación">
                </div>
                <div class="col-5 card-back">
                        <img src="img/footer-card-back.webp" alt="Back trajeta de presentación">
                </div>
                <div class="col-2 contact-icons">
                    <div class="contact-icons">
                        <a href="https://es-la.facebook.com/" aria-label="Facebook" target="_blank">
                            <svg viewBox="0 0 24 24"><path d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02z"/></svg></a>

                        <a href="https://www.instagram.com/" aria-label="Instagram" target="_blank">
                            <svg viewBox="0 0 24 24"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3z"/></svg>
                        </a>

                        <a href="mailto:agdevices@gmail.com" aria-label="Mail" target="_blank">
                            <svg viewBox="0 0 24 24"><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10z" /></svg>
                        </a>

                        <a href="https://wa.me/5422222222" aria-label="Cel phone" target="_blank">
                            <svg viewBox="0 0 24 24"><path d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01A9.816 9.816 0 0 0 12.04 2m.01 1.67c2.2 0 4.26.86 5.82 2.42a8.225 8.225 0 0 1 2.41 5.83c0 4.54-3.7 8.23-8.24 8.23c-1.48 0-2.93-.39-4.19-1.15l-.3-.17l-3.12.82l.83-3.04l-.2-.32a8.188 8.188 0 0 1-1.26-4.38c.01-4.54 3.7-8.24 8.25-8.24M8.53 7.33c-.16 0-.43.06-.66.31c-.22.25-.87.86-.87 2.07c0 1.22.89 2.39 1 2.56c.14.17 1.76 2.67 4.25 3.73c.59.27 1.05.42 1.41.53c.59.19 1.13.16 1.56.1c.48-.07 1.46-.6 1.67-1.18c.21-.58.21-1.07.15-1.18c-.07-.1-.23-.16-.48-.27c-.25-.14-1.47-.74-1.69-.82c-.23-.08-.37-.12-.56.12c-.16.25-.64.81-.78.97c-.15.17-.29.19-.53.07c-.26-.13-1.06-.39-2-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.12-.24-.01-.39.11-.5c.11-.11.27-.29.37-.44c.13-.14.17-.25.25-.41c.08-.17.04-.31-.02-.43c-.06-.11-.56-1.35-.77-1.84c-.2-.48-.4-.42-.56-.43c-.14 0-.3-.01-.47-.01z" /></svg>
                        </a>
                    </div>
                </div>
                <div class="copyright">
                    <h5>@2021-UCut-CNC - Copyright. Todos los derechos reservados </h5>
                </div>
            </div>
        </div>
    </footer>

        <script src="/js/scroll-button.js"></script>
        <script src="/js/galery.js"></script>
        <script src="/js/cta.js"></script>
        <script src="/js/form.js"></script>
</body>

</html>